<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">

        <a class="navbar-brand" href="/Home">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/About">О программе <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input id="searchText" class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search">
                        <button id="findTable" class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <hr />
    </div>
    <div class="container body-content col-md-10">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – учебный проект Курпаченко Романа</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
</body>
</html>
